<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>10.0.30.121:89</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.0.30.121</MSDeployServiceURL>
    <DeployIisAppPath>PlatinumPortal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>platinum</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PartnerEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MediationModel.PartnerEntities, MediationModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PartnerEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MediationModel.PartnerEntities, MediationModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="telcobrightmediationSql" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=127.0.0.1;user id=root;password=Takay1#$ane;persistsecurityinfo=True;database=telcobrightmediation" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\telcobrightmediationSql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=127.0.0.1;User Id=root;password=Takay1#$ane;Persist Security Info=True;database=telcobrightmediation" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Partner" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=127.0.0.1;user id=root;password=Takay1#$ane;persistsecurityinfo=True;database=dbl" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Partner_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=127.0.0.1;User Id=root;password=Takay1#$ane;Persist Security Info=True;database=dbl" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Reader" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=127.0.0.1;user id=dbreader;password=Takay1tkaane;persistsecurityinfo=True;defaultcommandtimeout=3600;database=dbl" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Reader_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=127.0.0.1;User Id=dbreader;password=Takay1tkaane;Persist Security Info=True;default command timeout=3600;database=dbl" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PartnerEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PartnerEntities-Web.config Connection String" />
  </ItemGroup>
</Project>