<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>

  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="server=10.0.0.9;User Id=root;password=Takay1#$ane;Persist Security Info=True;database=#DatabaseName#" providerName="MySql.Data.MySqlClient" />
    <add name="Scheduler" connectionString="server=10.0.0.9;User Id=root;password=Takay1#$ane;Persist Security Info=True;database=#DatabaseName#" providerName="MySql.Data.MySqlClient" />
    <add name="Reader" connectionString="server=10.0.0.9;User Id=dbreader;password=Takay1takaane;Persist Security Info=True;default command timeout=120;database=#DatabaseName#" providerName="MySql.Data.MySqlClient" />
    <add name="Partner" connectionString="server=10.0.0.9;User Id=root;password=Takay1#$ane;Persist Security Info=True;database=#DatabaseName#" providerName="MySql.Data.MySqlClient" />
    <add name="PartnerEntities" connectionString="metadata=res://*/PartnerModel.csdl|res://*/PartnerModel.ssdl|res://*/PartnerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.0.0.9;user id=root;password=Takay1#$ane;persistsecurityinfo=True;Convert Zero Datetime=True;default command timeout=300;database=#DatabaseName#&quot;" providerName="System.Data.EntityClient" />
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
