<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SansayWSPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SansayWSPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:8888/SSConfig/SansayWS"
                binding="basicHttpBinding" bindingConfiguration="SansayWSPortBinding"
                contract="SansayWs.SansayWS" name="SansayWSPort" />
        </client>
    </system.serviceModel>
</configuration>