<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="Name" value="127.0.0.1" />
    <add key="PartnerDatabase1" value="dbl" />
    <add key="DatabaseServerAdminUserName" value="root" />
    <add key="DatabaseServerAdminPassword" value="Takay1#$ane" />
    <add key="DatabaseServerReadOnlyUserName" value="dbreader" />
    <add key="DatabaseServerReadOnlyPassword" value="Takay1takaane" />
    <add key="PortalPath" value="c:/inetpub/wwwroot/portal" />
    <add key="conf1" value="../../../portal/web.config" />
    <add key="conf2" value="../../../WS_Topshelf/app.config" />
    <add key="conf5" value="../../../_000tester/app.config" />
    <add key="conf8" value="../../../UpdateViews/app.config" />
    <add key="conf9" value="../../../Portal/RateTaskSerializer/app.config" />

    <add key="TelcobrightAppDirectory" value="c:/Telcobright" />
  
</appSettings>
