<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!--Change here to prepare project for a tb operator set default for debug profile-->
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <appSettings>
    <!--Change here to setup project for a telcobright customer, write the database name between the underscores-->
    <add key="instance1" value="summit"  />
    <!--<add key="instance1" value="banglatelecom"  />-->
    <!--<add key="instance2" value="srtelecom" />-->
    <add key="PortalPath" value="c:/inetpub/wwwroot/" />
    <add key="conf1" value="../../../portal/web.config" />
    <add key="conf2" value="../../../WS_Topshelf_Quartz/app.config" />
    <add key="conf8" value="../../../UpdateViews/app.config" />
    <add key="conf9" value="../../../Portal/RateTaskSerializer/app.config" />
  </appSettings>

  <!-- provider factory required for quartz mysql data store-->
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices,          MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <connectionStrings>
    <clear />
    <add name="DefaultConnection" connectionString="server={ServerName};User Id={AdminUserName};password={AdminPassword};Persist Security Info=True;database={DatabaseName}" providerName="MySql.Data.MySqlClient" />
    <add name="Scheduler" connectionString="server={ServerName};User Id={AdminUserName};password={AdminPassword};Persist Security Info=True;database={DatabaseName}" providerName="MySql.Data.MySqlClient" />
    <add name="Reader" connectionString="server={ServerName};User Id={ReadOnlyUserName};password={ReadOnlyPassword};Persist Security Info=True;default command timeout=120;database={DatabaseName}" providerName="MySql.Data.MySqlClient" />
    <add name="Partner" connectionString="server={ServerName};User Id={AdminUserName};password={AdminPassword};Persist Security Info=True;database={DatabaseName}" providerName="MySql.Data.MySqlClient" />
    <add name="PartnerEntities" connectionString="metadata=res://*/PartnerModel.csdl|res://*/PartnerModel.ssdl|res://*/PartnerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server={ServerName};user id={AdminUserName};password={AdminPassword};persistsecurityinfo=True;Convert Zero Datetime=True;default command timeout=300;database={DatabaseName}&quot;" providerName="System.Data.EntityClient" />
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>





  <runtime>





    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">





      <dependentAssembly>





        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />





        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />





      </dependentAssembly>





      <dependentAssembly>





        <assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" culture="neutral" />





        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />





      </dependentAssembly>





      <dependentAssembly>





        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />





        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />





      </dependentAssembly>





      <dependentAssembly>





        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />





        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />





      </dependentAssembly>





      <dependentAssembly>





        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />





        <bindingRedirect oldVersion="6.5.4.0" newVersion="6.9.8.0" />





      </dependentAssembly>





    </assemblyBinding>





  </runtime>
</configuration>
