<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <!--Change here to setup project for a telcobright customer, write the database name between the underscores-->
    <add key="configRoot" value="C:\TelcobrightProject\TelcobrightVS13\Projects\WS_Topshelf_Quartz\deployedInstances" />    
  </appSettings>
</configuration>
