


#topContent {
	text-align:left;
	background-color: #600;
	color: White;
	font-size: x-large;
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	padding-top:0px;
	height: 50px;
	
}

#topContent a {
	text-decoration: none;
	color: White;
}

#leftContent {
	width: 165px;    
	padding-left: 10px;
	font-size: 90%;
	text-align: left;
	
	top: 52px;
	
	left: -5px;
	
	min-height:1400px;
	border-right-style:inset;
	float:left;
}

#leftContent h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	border-top: dotted 1px #660;
	border-bottom: dotted 1px #660;
}

#mainContent {
	text-align: left;
	margin-left: 160px;
	padding-top: 0px;
	min-height:1500px;
	top:-17px;
	min-height:1500px;
}

#footerContent {
	text-align: center;
	padding: 5px;
	display: block;
	width: 100%;
	float: left;
	overflow: hidden;
}

#ParamBorder 
{
	border-width: 1px;
	border-spacing: 2px;
	border-style: dotted;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
	}
	
	#ParamBorder2 
{
	border-width: 1px;
	border-spacing: 2px;
	border-style: dotted;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
	height:130px;
	}
	
	/* Navigation */
#navigation {
list-style: none;
	  font-family: "Century Gothic", Verdana, Arial, Sans-Serif;
	  margin: 20;
	  padding: 0;
	  font-size: 1.2em;
}

/* CSS for each Parent Item */
#navigation li
{
	  clear: both;
	  height: 2em;
}

#navigation li a
{
	  float: left;
	  display: block;
	  padding: 4px;
	  text-decoration: none;
	  color: #666;
	  text-transform: uppercase;
	  margin-bottom: 5px;
	  margin-right: 10px;
}

/* Change background color and font color of parent items when mouse hover */
#navigation li:hover a,
#navigation li a:hover
{
	  background: #999;
	  color: #fff;
}
/* Applie to group of Child Items Each Child Item will be invisible by default */
#navigation ul {display: none;}

/* Each Child Item will be visible if mouse hover */
#navigation li:hover ul {display: block;}

#navigation ul
{
		list-style: none;
		float: left;
		margin: 0;
		padding: 4px 8px;
}

#navigation ul li
{
		float: left;
		clear: none;
		margin: 0;
		padding: 0;
		width: auto;
		height: auto;
		color: #999;
}
/* Reset and re style link of each child item */
#navigation li:hover ul li a,
#navigation ul li a
{
		display: inline;
		padding: 0 6px 0 0;
		float: none;
		text-transform: lowercase;
		color: #999;
		background: none;
}

#navigation li:hover ul li a:hover,
#navigation ul li a:hover
{
		background: none;
		color: #000;
}
table#MainContent_GridView1
{
	font-size: .938em;
}